body {
  font-family: Courier New, monospace;
  text-color: white;
  background-color: #181818;
}

.main {
  font-family: Courier Ner, monospace;
  text-color: white;
  background-color: #181818;
}

.left-image {
  text-align: left;
  width: 360px;
  height: 203px;
}

.right-image {
  text-align: right;
  width: 360px;
  height: 203px;
}
