body {
  background-color: #181818;
  font-family: Courier New, monospace;
  color: white;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: white;
}

button {
  border-radius: 25px;
  border: 2px solid #20C20E;
  background-color: #181818;
  padding: 10px;
  color: #20C20E;
  font-family: Courier New, monospace;
}

.href {
  border-radius: 25px;
  border: 2px solid #20C20E;
  background-color: #181818;
  padding: 10px;
  color: #20C20E;
  font-family: Courier New, monospace;
}

h1, h2, h3, h4, h5, h6, b, i, code, s {
  color: #20C20E;
}
